<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />


</head>
<body>
<header>
    <nav class="navbar navbar-fixed-top top-panel"> 

        <div class="kma-pizza-label">
            <span class="first-label">
                pizza
            </span>
            <span class="second-label">
                kma
            </span>

        </div>

        <div class="discount-label">
    <div class="discount-text">
        Цього тижня на все
    </div>
    <span class="discount-amount">
        -20%
    </span>
</div>




        <div class="nav-top-row">
            <span class="top-navbar-item phone-number">
                (044) 222 5 222
            </span>
            <span class="top-navbar-item working-time visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </span>
            <span class="top-navbar-item free-pizza-delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </span>
            <button type="button" class="btn btn-warning login-btn">Ввійти</button>
        </div>

        <div class="nav-bottom-row">
            <a href="index.html">Піца</a>
        </div>

    </nav>
</header>

